---
layout: basic/content.hbs
---
<p>\{{inviter_name}} at \{{organization_name}} has invited you to use Variance.</p>

<!-- Action -->
<table class="body-action" align="center" width="100%" cellpadding="0" cellspacing="0" role="presentation">
  <tr>
    <td align="center">
      {{> button label="Set up account" target_url="{{invite_url}}" }}
    </td>
  </tr>
</table>

<p>Welcome aboard,<br>The {{product_name}} Team</p>
<p><strong>P.S.</strong> Need help getting started? Check out our <a href="https://www.variance.com/docs">help documentation</a>.</p>

{{> button_trouble var="{{invite_url}}" }}
